{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{{ "title.user.index"|trans }}</h1>
    <table class="table">
        <thead class="table-head">
        <tr>
            <th>{{ "user.table.firstname"|trans }}</th>
            <th>{{ "user.table.lastname"|trans }}</th>
            <th>{{ "user.table.email"|trans }}</th>
            <th>{{ "user.table.role"|trans }}</th>
            <th>{{ "user.table.status"|trans }}</th>
            <th>{{ "user.table.createdAt"|trans }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-body">
        {% for user in users %}
            <tr>
                <th>{{ user.firstname }}</th>
                <th>{{ user.lastname }}</th>
                <th>{{ user.email }}</th>
                <th>
                    {% if user.roles|length > 1 %}
                         {{ "user.role.admin"|trans }}
                    {% else %}
                        {{ "user.role.user"|trans }}
                    {% endif %}
                </th>
                <th>{{ user.status == 0 ? "Email non confirmé" : "Confirmé" }}</th>
                <th>{{ user.createdAt|date("d/m/Y") }}</th>
                <th>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">
                        <button class="warning"><i class="fas fa-edit"></i></button>
                    </a>
                    <a href="{{ path('admin_user_block', {"id": user.id}) }}">
                        {% if user.status == 1 %}
                        <button class="danger"><i class="fas fa-lock"></i></button>
                        {% else %}
                        <button class="success"><i class="fas fa-unlock"></i></button>
                    </a>
                    {% endif %}

                </th>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

