{% trans_default_domain 'OurTripsTrans' %}
{% extends "base.html.twig" %}

{% block title %}
    {{ "title.user.changePassword"|trans }}
{% endblock %}

{% block body %}
    <h1>{{ "title.user.changePassword"|trans }}</h1>
    <div class="form-outbox">
        {{ form_start(form) }}
        {{ form_row(form.password) }}
        {{ form_end(form) }}
    </div>

{% endblock %}


