{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.user.edit"|trans({"%lastname%": user.lastname, "%firstname%": user.firstname}) }}{% endblock %}

{% block body %}
    <div class="form-outbox">
        <h1>{{ "title.user.edit"|trans({"%lastname%": user.lastname, "%firstname%": user.firstname}) }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.submit) }}
        <a href="{{ app.request.headers.get('referer') }}">
            <button class="btn">{{ "return"|trans }}</button>
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}




