{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}{{ "title.login"|trans }}{% endblock %}

{% block body %}
    <div class="form-outbox">
        <form method="post" class="form-box">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {{ "alreadyLogin"|trans }}{{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="font-weight-normal">{{ "login.title"|trans }}</h1>
            <label for="inputEmail">{{ "login.email"|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                   autofocus>
            <label for="inputPassword">{{ "login.password"|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="signin">
                {{ "login.signin"|trans }}
            </button>
        </form>
    </div>
{% endblock %}
