{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.country.index"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.country.index"|trans }}</h1>
    <div class="pictures-display">
        {% for country in countries %}
            <a class="pictures-square" href="{{ path('admin_country_show', {'id': country.id}) }}">
                {% if country.map.name is not null %}
                    <em>{{ country.name }}</em>
                    <img src="{{ vich_uploader_asset(country)|imagine_filter("carre") }}" alt="{{ country.name }}">
                {% else %}
                    {{ country.name }}
                {% endif %}
            </a>
        {% endfor %}
        <a href="{{ path('admin_country_new') }}"
           class="pictures-square empty">{{ "country.text.addCountry"|trans }}</a>
    </div>
{% endblock %}
