{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.country.show"|trans({"%name%": country.name}) }}{% endblock %}

{% block body %}
    <h1>{{ "title.country.show"|trans({"%name%": country.name}) }}</h1>
    <div class="country-show-box">
        <img class="map-country" src="{{ vich_uploader_asset(country)|imagine_filter("carre") }}" alt={{ country.name }}>
        <br>
        <img class="icon-country" src="{{ vich_uploader_asset(country, "iconFile")|imagine_filter("icon") }}" alt="{{ country.name }}">
        <br>
        <a href="{{ path('admin_country_index') }}">
            <button class="warning">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </button>
        </a>

        <a href="{{ path('admin_country_edit', {'id': country.id}) }}">
            <button class="warning">
                <i class="fas fa-edit"></i>
            </button>
        </a>

        {{ include('Admin/country/_delete_form.html.twig') }}

        <h1>{{ "picture.text.countryPictures"|trans }}</h1>
        <div class="pictures-display ">
            {% for picture in pictures %}
                <a class="pictures-square" href="{{ path('admin_picture_show', {'id': picture.id}) }}"><img
                            src="{{ vich_uploader_asset(picture)|imagine_filter("carre") }}" alt=""></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
