{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "title.news.index"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.news.index"|trans }}</h1>
    {{ include('Admin/javascript/template_datatable.html.twig') }}
    <a href="{{ path('admin_news_new') }}" class="btn btn-success new-news">{{ "create"|trans }}</a>
{% endblock %}
