{% trans_default_domain "OurTripsTrans" %}
{% extends "base.html.twig" %}

{% block title %}{{ "title.picture.indexCountry"|trans({"%country%": country.name}) }}
{% endblock %}
{% block body %}
    <h1>{{ "title.picture.indexCountry"|trans({"%country%": country.name}) }}</h1>
    <div class="pictures-display">
        {% for picture in pagination %}
            <a href="{{ path('public_picture_show', {'id': picture.id}) }}" class="pictures-square">
                <img src="{{ vich_uploader_asset(picture) | imagine_filter("carre") }}"
                     alt="{{ picture.createdAt|date("d/m/Y") }}" title="{{ picture.city }}">
            </a>
        {% endfor %}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_picture_new') }}"
               class="pictures-square empty">{{ "picture.text.addPicture"|trans }}</a>
        {% endif %}
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
