{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}{{ "title.picture.show"|trans({"%name%": picture.picture.name} ) }}{% endblock %}

{% block body %}
    <div class="detail-picture-box">
        <div class="picture-part">
            <img class="picture" src="{{ vich_uploader_asset(picture)|imagine_filter("large") }}"
                 alt="{{ picture.picture.name }}">
            <button type="button" class="rotate" title="{{ "picture.text.return"|trans }}"><i
                        class="fas fa-undo-alt"></i></button>
        </div>
        <div class="detail-part">
            <h2>{{ "title.picture.show"|trans({"%name%": picture.picture.name} ) }}</h2>
            <ul class="li-unlisted">
                <li>{{ "picture.text.country"|trans }}
                    : {{ picture.city.country ? picture.city.country : "null" }}</li>
                <li>{{ "picture.text.city"|trans }} : {{ picture.city }}</li>
                <li>{{ "picture.text.author"|trans }} : {{ picture.author }}</li>
                <li>{{ "picture.text.name"|trans }} : {{ picture.picture.name }}</li>
                {% if picture.description %}
                    <li>{{ "picture.text.description"|trans }} : {{ picture.description }}</li>
                {% endif %}
                <li>{{ "picture.text.format"|trans }} : {{ picture.picture.mimeType }}</li>
                <li>{{ "picture.text.size"|trans }} : {{ picture.picture.size }}</li>
                {% if picture.picture.dimensions %}
                    <li>{{ "picture.text.dimensions"|trans }} :
                        {{ picture.picture.dimensions[0] }} x {{ picture.picture.dimensions[1] }}
                    </li>
                {% endif %}
            </ul>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_picture_index') }}">
                    <button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button>
                </a>
                <a href="{{ path('admin_picture_edit', {'id': picture.id}) }}">
                    <button class="warning"><i class="fas fa-edit"></i></button>
                </a>
                {{ include('Admin/picture/_delete_form.html.twig') }}
            {% else %}
                <a href="{{ app.request.headers.get('referer') }}">
                    <button class="warning"><i class="fas fa-arrow-alt-circle-left"></i></button>
                </a>
            {% endif %}
            <hr>
            <div class="comment-container">
                <div class="comment-form-header">
                    <h2>{{ "title.comment.header"|trans }}</h2>
                </div>
                <div class="comment-form-body">
                    {{ form_start(form_comment) }}
                    {{ form_row(form_comment.content) }}
                    {{ form_row(form_comment.submit) }}
                    {{ form_end(form_comment) }}
                </div>
                <div class="comment-form-footer">
                    {% for comment in comments %}
                        <div class="comment-detail-container">
                            <div class="comment-header">
                                <em>{{ comment.createdAt | date("d/m/Y") }} - {{ comment.author }}</em>
                            </div>
                            <div class="comment-body">
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>

                    {% endfor %}
                </div>
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
    <br>

{% endblock %}
