{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}{{ "title.city.index"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.city.index"|trans }}</h1>
    <div class="pictures-display">
        {% for city in cities %}
            <a class="pictures-square" href="{{ path("admin_city_show", {'id': city.id}) }}">
                {% if city.map.name is not null %}
                    <em>{{ city.name }}</em>
                    <img src="{{ vich_uploader_asset(city) }}" alt="{{ city.name }}">
                {% else %}
                    {{ city.name }}
                {% endif %}
            </a>
        {% endfor %}
        <a href="{{ path('admin_city_new') }}" class="pictures-square empty">{{ "city.text.addCity"|trans }}</a>
    </div>
{% endblock %}
