{% trans_default_domain "OurTripsTrans" %}
{% extends 'base.html.twig' %}
{% block title %}{{ "title.city.show"|trans({"%name%": city.name}) }}{% endblock %}

{% block body %}
    <h1>{{ "title.city.show"|trans({"%name%": city.name}) }}</h1>
    <div class="city-show-box">
        <img class="map-city" src="{{ vich_uploader_asset(city)|imagine_filter("carre") }}" alt={{ city.name }}>
        <br>
        {% if vich_uploader_asset(city, "iconFile") is not null %}
            <img src="{{ vich_uploader_asset(city, "iconFile") }}" alt="{{ city.name }}" class="left-icon"
                 width="30"><em>{{ city.name }}</em>
        {% else %}
            <img src="{{ vich_uploader_asset(city.country, "iconFile") }}" alt="{{ city.name }}"
                 class="left-icon"
                 width="30"><em>{{ city.name }}</em>
        {% endif %}
        <br>
        <a href="{{ path('admin_city_index') }}">
            <button class="warning">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </button>
        </a>

        <a href="{{ path('admin_city_edit', {'id': city.id}) }}">
            <button class="warning">
                <i class="fas fa-edit"></i>
            </button>
        </a>

        {{ include('Admin/city/_delete_form.html.twig') }}

        <h1>{{ "picture.text.cityPictures"|trans }}</h1>
        <div class="pictures-display ">
            {% for picture in pictures %}
                <a class="pictures-square" href="{{ path('admin_picture_show', {'id': picture.id}) }}"><img
                            src="{{ vich_uploader_asset(picture)|imagine_filter("carre") }}" alt=""></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
