{% trans_default_domain "OurTripsTrans" %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/all.min.css') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('font-awesome/js/all.min.js') }}"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="filter">
    <div class="header">
        {{ render(controller('App\\Controller\\LayoutBundleController::headerAction')) }}
        {% include 'Layout/Flashes/_inspiniaFlashes.html.twig' %}
    </div>
    <div class="main">
        <div class="left-side">
            {{ render(controller('App\\Controller\\LayoutBundleController::leftMenuAction')) }}
        </div>
        <div class="center">
            {% block body %}{% endblock %}
        </div>
        <div class="right-side">
            {{ render(controller('App\\Controller\\LayoutBundleController::rightMenuAction')) }}
        </div>
    </div>
    <div class="footer">
        {{ render(controller('App\\Controller\\LayoutBundleController::footerAction')) }}
    </div>
</div>
</body>
</html>
