{% trans_default_domain "OurTripsTrans" %}
<nav>
    <div class="navbar">
        <div class="menu">
            <a class="logoHome" href="{{ path('home') }}"><img src="{{ asset('images/home.png') }}" alt="homePage" width="40"></a>
            <a class="nav-items">{{ "header.menu.allPictures"|trans }}</a>
        </div>
        <div class="log">
            {% if not app.user %}
                <a href="{{ path('app_login') }}">
                    <button class="nav-items">{{ "header.log.login"|trans }}</button>
                </a>
                <a href="" class="nav-items">
                    <button class="nav-items">{{ "header.log.register"|trans }}</button>
                </a>
            {% else %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="" class="nav-items">
                        <button>{{ "header.log.admin"|trans }}</button>
                    </a>
                {% endif %}
                <a href="{{ path('app_logout') }}">
                    <button class="nav-items logout">{{ "header.log.logout"|trans }}</button>
                </a>
            {% endif %}
        </div>
        <h1 class="title">{{ "header.title"|trans }}</h1>
    </div>
</nav>

